@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--backgroun);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 4% 0;
  width: 95%;
}

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 20px;
}
input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
}
textarea {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
  resize: none;
  overflow-y: scroll;
}
h2 {
  font-size: x-large;
  font-weight: 900;
}
form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 12px;
  height: calc(100% - 52px);
}
.delEditBtn button {
  padding: 2px 10px;
}
form > input,
form > h2,
form > textarea {
  width: 100%;
}
.boardContainer > div,
.board > p,
.boardContainer > form {
  padding: 0 16px;
}
.board > div > li {
  padding: 0 16px;
}
@media (max-width: 900px) {
  html {
    display: block;
  }
  body {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .allContainer {
    gap: 0;
    height: auto;
    flex-direction: column-reverse;
  }
  .boardContainer {
    border: none;
    height: fit-content;
    background: none;
    padding: 16px 0;
  }
  .board {
    height: 833px;
  }
  .signContainer {
    width: 100%;
    height: 100%;
    border: none;
  }
  .signContainer > form {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .userInfo {
    border: none;
    max-width: 100%;
    height: fit-content;
    background: none;
    text-align: start;
  }
  .createForm{
    height: 100%;
  }
}
